/MANIFEST
/build
/dist
/doc/doctrees
/doc/html
/posix1e.html
/posix1e.so
/posix1e.txt
/pylibacl.egg-info
*.py[co]
autom4te.cache
autoscan.log
config.h
config.log
*.status
libtool
*.so
stamp-*
.deps/*.*o
coverage.info
